.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  user-select: none;
  width: 100%;
}

.main > .branding {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 45%;
}

.main > .branding > .logo-wrapper {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.main > .branding > h1 {
  width: 70%;
  height: auto;
}

.main > .branding > h1 > span{
  font-size: 150%;
  font-family: cursive;
  font-weight: bold;
}

.main > .branding > h1 > .first-branding-text{
  color: #E18C41;
}

.main > .branding > h1 > .second-branding-text{
  color: #64CDB4;
}

.main > .nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-color: transparent;
  gap: 5%;
  width: 55%;
}

.main > .nav > div > .p-element ::ng-deep button{
  border-radius: 30px !important;
  background-color: #EFA350;
  font-size: 1.5rem;
  padding: 0 1rem 0.15rem 1rem;
  color: rgb(33, 37, 41);
  margin: 0;
  border: none;
}

.main > .nav > div > .p-element ::ng-deep button:active{
  background-color: #a9662e;
}

div > .language-picker > p-dropdown ::ng-deep .p-hidden-accessible {
  display: none !important;
}

.main > .nav > div > .p-element, .main > .nav > div > .pi{
  color: #808080;
}


