<div class="container-fluid">
  <div class="hero-wrapper row flex-md-row flex-align-items-start">
    <div class="col-md-6 col-md">
      <div class="hero__content">
        <h1 class="hero__headline text-bg">{{headline}}</h1>
        <h3 class="hero__text">{{introduction}}</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="hero__image">
        <img src="{{heroImage}}" alt="hero image" [ngStyle]="{'width' : '100%', 'height' : 'auto'}">
      </div>
    </div>
  </div>
</div>
